* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    gap: 63px; /* Отступ между логотипами */
}

.logo {
    width: 130px; /* Ширина логотипа */
    height: 130px; /* Высота логотипа */
}
