.header {
    padding: 8px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 56px;
}

.header__nav-links {
    display: flex;
    align-items: center;
    gap: 44px;
}

.header__nav-links a {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.header__nav-button {
    padding: 12px 30px;
    background: #65256F;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.header__burger{
    display: none;
}

/* @media  and (max-width:991px) {
    .header{
        position: fixed;
        top:0;
        z-index: 3;
        width: 100%;
        left: -110%;
        background-color:white;
    }

    .header__nav{
        display:none;
    }
    .header__burger{
        display: block;
    } */


.menu{
    position: absolute;
    top:0;
    left: -110%;
    height: 100vh;
    width: 80%;
    background-color: aqua;
    transition: left 0.5;
}

.menu_wrapper{
    padding: 96px 16px 0 16px;
}

.menu-naav{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
}